<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input [(ngModel)]="term" (keyup)="page()" type="text" class="form-control" placeholder="Buscar hospital..." />
            </div>
        </div>
    </div>
</div>
<div class="row animated fadeIn" *ngIf="loading">
    <div class="col-12">
        <div class="alert alert-warning text-center">
            <div><strong>Cargando...</strong></div>
            <div><i class="fa fa-refresh fa-spin fa-2x"></i></div>
            <div><span>Espere por favor</span></div>
        </div>
    </div>
</div>
<div class="row animated fadeIn" *ngIf="!loading">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Hospitales registrados (<small>{{totalRecords}}</small>)</h3>
                <table class="table table-hover">
                    <thead>
                        <th>Nombre</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of hospitals; let i = index">
                            <td>
                                <div *ngIf="!row.edit" (click)="edit(row, i)">{{row.hospital.name}}</div>
                                <input [id]="'name' + i" [hidden]="!row.edit" type="text" [(ngModel)]="row.hospital.name" style="width:100%; padding-left:0px; padding-right:0px;" (keyup)="keyUp($event)" />
                            </td>
                            <td>
                                <button class="btn btn-danger" (click)="delete(row.hospital)">
                                <i class="fa fa-trash-o"></i>
                            </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button (click)="page(-5)" class="btn btn-secondary" *ngIf="from !== 0">
                  Anteriores
              </button>
                <button (click)="page(5)" class="btn btn-secondary" *ngIf="(from + 5) < totalRecords">
                  Siguiente
              </button>
            </div>
        </div>
    </div>
</div>