<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input #input type="text" class="form-control" placeholder="Buscar usuario..." />

            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn">
    <div class="col-12">
        <div class="alert alert-warning text-center">
            <div><strong>Cargando...</strong></div>
            <div><i class="fa fa-refresh fa-spin fa-2x"></i></div>
            <div><span>Espere por favor</span></div>
        </div>
    </div>
</div>

<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Usuarios registrados (<small>{{totalRecords}}</small>)</h3>
                <table class="table table-hover">
                    <thead>
                        <th>Imagen</th>
                        <th>Correo</th>
                        <th>Nombre</th>
                        <th>Role</th>
                        <th>Auth</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users">
                            <td>Imagen</td>
                            <td>{{user.email}}</td>
                            <td>{{user.name}}</td>
                            <td>{{user.role}}</td>
                            <td>
                                <label *ngIf="user.google" class="label label-info">Google</label>
                                <label *ngIf="!user.google" class="label label-danger">Normal</label>
                            </td>
                            <td>
                                <button class="btn btn-primary">
                                  <i class="fa fa-save"></i>
                                </button>
                                <button class="btn btn-danger">
                                  <i class="fa fa-trash-o"></i>
                              </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button (click)="page(-5)" class="btn btn-secondary">
                    Anteriores
                </button>
                <button (click)="page(5)" class="btn btn-secondary">
                    Siguiente
                </button>
            </div>
        </div>
    </div>
</div>