<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input [(ngModel)]="term" (keyup)="startSearchUsers()" type="text" class="form-control" placeholder="Buscar usuario..." />

            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="loading">
    <div class="col-12">
        <div class="alert alert-warning text-center">
            <div><strong>Cargando...</strong></div>
            <div><i class="fa fa-refresh fa-spin fa-2x"></i></div>
            <div><span>Espere por favor</span></div>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="!loading">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Usuarios registrados (<small>{{totalRecords}}</small>)</h3>
                <table class="table table-hover">
                    <thead>
                        <th>Imagen</th>
                        <th>Correo</th>
                        <th>Nombre</th>
                        <th>Role</th>
                        <th>Auth</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users">
                            <td class="w70">
                                <button type="button" data-toggle="modal" data-target="#uploadModal" style="padding:0px;border:0px">
                                    <img src="{{user.img | image}}" class="img-50 pointer" (click)="publishUser(user)"/>
                                </button>
                            </td>
                            <td>{{user.email}}</td>
                            <td>{{user.name}}</td>
                            <td>
                                <select [(ngModel)]="user.role">
                                    <option [selected]="user.role==='ADMIN_ROLE'">ADMIN_ROLE</option>
                                    <option [selected]="user.role==='USER_ROLE'">USER_ROLE</option>
                                </select>
                            </td>
                            <td>
                                <label *ngIf="user.google" class="label label-info">Google</label>
                                <label *ngIf="!user.google" class="label label-danger">Normal</label>
                            </td>
                            <td>
                                <button class="btn btn-primary" (click)="updateUser(user)">
                                  <i class="fa fa-save"></i>
                                </button>
                                <button class="btn btn-danger" (click)="deleteUser(user)">
                                  <i class="fa fa-trash-o"></i>
                              </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button (click)="page(-5)" class="btn btn-secondary" *ngIf="from !== 0">
                    Anteriores
                </button>
                <button (click)="page(5)" class="btn btn-secondary" *ngIf="(from + 5) < totalRecords">
                    Siguiente
                </button>
            </div>
        </div>
    </div>
</div>