<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input [(ngModel)]="term" (keyup)="page()" type="text" class="form-control" placeholder="Buscar médico..." />
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="loading">
    <div class="col-12">
        <div class="alert alert-warning text-center">
            <div><strong>Cargando...</strong></div>
            <div><i class="fa fa-refresh fa-spin fa-2x"></i></div>
            <div><span>Espere por favor</span></div>
        </div>
    </div>
</div>
<div class="row animated fadeIn" *ngIf="!loading">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div>
                    <div style="float: left">
                        <h3 class="card-title">Médicos registrados (<small>{{totalRecords}}</small>)</h3>
                    </div>
                    <div style="float: right">
                        <button type="button" class="btn btn-rounded btn-primary" (click)="createDoctor()">
                        <i class="fa fa-plus"></i>Crear Médico
                    </button>
                    </div>
                </div>
                <table class="table table-hover">
                    <thead>
                        <th>Imagen</th>
                        <th>Nombre</th>
                        <th>Hospital</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let doctor of doctors; let i = index">
                            <td class="w70">
                                <button type="button" data-toggle="modal" data-target="#uploadModal" style="padding:0px;border:0px" (click)="publishHospital(row.hospital)">
                                    <img src="{{doctor.img | image : 'doctors'}}" class="img-50 pointer" />
                                </button>
                            </td>
                            <td>
                                {{doctor.name}}
                            </td>
                            <td>
                                {{doctor.hospital?.name}}
                            </td>
                            <td>
                                <button class="btn btn-primary" (click)="update(doctor)">
                                  <i class="fa fa-save"></i>
                                </button>
                                <button class="btn btn-danger" (click)="delete(doctor)">
                                  <i class="fa fa-trash-o"></i>
                              </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button (click)="page(-5)" class="btn btn-secondary" *ngIf="from !== 0">
              Anteriores
          </button>
                <button (click)="page(5)" class="btn btn-secondary" *ngIf="(from + 5) < totalRecords">
              Siguiente
          </button>
            </div>
        </div>

    </div>
</div>