<!-- Modal -->

<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Cargar Imagen</h5>
                <button (click)="close()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body" align="center">
                <div class="form-group">
                    <img *ngIf="!tempImage" [src]="_modalUploadService.img | image" class="w150">
                    <img *ngIf="tempImage" [src]="tempImage" class="w150">
                </div>
                <div class="form-group">
                    <input #file type="file" (change)="chooseImage($event.target.files[0])" />
                </div>
            </div>
            <div class="modal-footer">
                <button (click)="close()" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button (click)="uploadImage()" [disabled]="!tempImage" type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
            </div>
        </div>
    </div>
</div>