#themecolors li>a {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.w150 {
    width: 150px;
}

.w70 {
    width: 70px;
}

.img-50 {
    width: 50px;
}

.editable_text {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}